In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,7.2,2015
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015
7,tt3659388,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,7.6,2015
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015

In [6]:
data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [7]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [10]:
# можно добавлять разные варианты решения
data.sort_values(['budget'], ascending = False)['original_title'].head(1)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157    Gods and Generals' #+

In [12]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 2

In [13]:
data.sort_values(['runtime'], ascending = False)['original_title'].head(1)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
answers['3'] = '768    Winnie the Pooh'  # +

In [15]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [16]:
answers['4'] = 110.0  # +

In [17]:
round(data['runtime'].mean(), 0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [18]:
answers['5'] = 107.0  #+

In [19]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
answers['6'] = '239    Avatar'  # +

In [21]:
# лучше код получения столбца profit вынести в Предобработку что в 
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [22]:
answers['7'] = '1245    The Lone Ranger'  # +

In [23]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8'] = 1478  # +

In [25]:
len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = '599    The Dark Knight'  # +

In [27]:
data2008 = data[data['release_year'] == 2008]
data2008[data2008['profit'] == data2008['profit'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = '1245    The Lone Ranger (tt1210819)' # +

In [29]:
#data['profit'] = data['revenue'] - data['budget']
data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [30]:
answers['11'] = 'Drama' # +

In [34]:
#разбиваем колонку 'genres' так, чтобы было колонка содержала только одно значение, затем с помощью melt делаем одну колонку и дублируем строки для каждого значения 'genres'
data [['genre1', 'genre2', 'genre3', 'genre4', 'genre5']] = data['genres'].apply(lambda x: pd.Series(str(x).split('|')))
datamelt = data.melt(['imdb_id','budget','revenue','original_title', 'cast', 'director', 'tagline', 'overview', 'runtime', 'genres', 'production_companies', 'release_date', 'vote_average', 'release_year', 'profit'],['genre1','genre2','genre3', 'genre4', 'genre5'],'new_genres', 'genre_value')
datamelt['genre_value'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genre_value, dtype: int64

ВАРИАНТ 2

In [35]:
ds_genres = data['genres'].str.split('|')
uniq_genres= []
for i in ds_genres:
#    if len(i) > 1:
        for entry in i:
            if entry not in uniq_genres:
                uniq_genres.append(entry)

for genre in uniq_genres:
    counterf = 0
    for ds_genre in ds_genres:
        if genre in ds_genre:
            counterf +=1
    print(genre, '-', counterf)

#print(ds_genres)

Action - 582
Adventure - 415
Science Fiction - 248
Thriller - 596
Fantasy - 222
Crime - 315
Western - 19
Drama - 782
Family - 260
Animation - 139
Comedy - 683
Mystery - 168
Romance - 308
War - 58
History - 62
Music - 64
Horror - 176
Documentary - 8
Foreign - 2

ВАРИАНТ 3

In [36]:
# оптимальный вариант
df_new = data['genres'].str.split('|')
df_new.explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [37]:
answers['12'] = 'Drama'  # +

In [38]:
data_withprofit = data[data['profit'] > 0].copy()
data_withprofit['genres_splited'] = data_withprofit['genres'].str.split('|')
splitdata_withprofit = data_withprofit.explode('genres_splited')
splitdata_withprofit['genres_splited'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_splited, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [40]:
answers['13'] = 'Peter Jackson'  # +

In [41]:
data['director_split'] = data['director'].str.split('|')
data.head(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genre1,genre2,genre3,genre4,genre5,director_split
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,...,2015-06-09,6.5,2015,1363528810,Action,Adventure,Science Fiction,Thriller,NaN,[Colin Trevorrow]
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,...,2015-05-13,7.1,2015,228436354,Action,Adventure,Science Fiction,Thriller,NaN,[George Miller]
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,...,2015-03-18,6.3,2015,185238201,Adventure,Science Fiction,Thriller,NaN,NaN,[Robert Schwentke]
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,...,2015-12-15,7.5,2015,1868178225,Action,Adventure,Science Fiction,Fantasy,NaN,[J.J. Abrams]
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,...,2015-04-01,7.3,2015,1316249360,Action,Crime,Thriller,NaN,NaN,[James Wan]
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,...,2015-12-25,7.2,2015,397950503,Western,Drama,Adventure,Thriller,NaN,[Alejandro GonzÃ¡lez IÃ±Ã¡rritu]
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,...,2015-06-23,5.8,2015,285603537,Science Fiction,Action,Thriller,Adventure,NaN,[Alan Taylor]
7,tt3659388,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,...,2015-09-30,7.6,2015,487380321,Drama,Adventure,Science Fiction,NaN,NaN,[Ridley Scott]
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,...,2015-06-17,6.5,2015,1082730962,Family,Animation,Adventure,Comedy,NaN,"[Kyle Balda, Pierre Coffin]"
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,...,2015-06-09,8.0,2015,678708609,Comedy,Animation,Family,NaN,NaN,[Pete Docter]

In [42]:
data_expl = data.explode('director_split')
data_expl

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,genre1,genre2,genre3,genre4,genre5,director_split
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,...,2015-06-09,6.5,2015,1363528810,Action,Adventure,Science Fiction,Thriller,NaN,Colin Trevorrow
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,...,2015-05-13,7.1,2015,228436354,Action,Adventure,Science Fiction,Thriller,NaN,George Miller
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,...,2015-03-18,6.3,2015,185238201,Adventure,Science Fiction,Thriller,NaN,NaN,Robert Schwentke
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,...,2015-12-15,7.5,2015,1868178225,Action,Adventure,Science Fiction,Fantasy,NaN,J.J. Abrams
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,...,2015-04-01,7.3,2015,1316249360,Action,Crime,Thriller,NaN,NaN,James Wan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,...,2000-07-13,6.6,2000,82299717,Adventure,Action,Science Fiction,NaN,NaN,Bryan Singer
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,...,2000-10-27,6.4,2000,-8444012,Horror,Family,Foreign,NaN,NaN,Uli Edel
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,...,2000-06-30,4.0,2000,-40865180,Adventure,Animation,Action,Comedy,Family,Des McAnuff
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,...,2000-02-16,5.2,2000,-3962091,Comedy,Drama,NaN,NaN,NaN,Diane Keaton
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,...,2000-07-19,5.2,2000,-9782502,Thriller,NaN,NaN,NaN,NaN,Mary Lambert

In [43]:
data_expl.groupby('director_split')[['revenue']].sum().sort_values('revenue', ascending = False)

                      revenue
director_split
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[997 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [44]:
answers['14'] = 'Robert Rodriguez'  # +

In [45]:

data['director_split'] = data['director'].str.split('|')
data_expl = data.explode('director_split')
data_expl[data_expl['genres'].str.contains('Action')]['director_split'].value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Xavier Gens           1
Dan Bradley           1
Des McAnuff           1
Chris Columbus        1
Stuart Baird          1
Name: director_split, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [46]:
answers['15'] = 'Chris Hemsworth' # +

In [47]:
data_2012 = data[data['release_year'] == 2012].copy()
data_2012['cast_split'] = data_2012['cast'].str.split('|')
data_2012_expl = data_2012.explode('cast_split')
data_2012_expl.groupby('cast_split')[['revenue']].sum().sort_values('revenue', ascending = False)

                      revenue
cast_split
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [48]:
answers['16'] = 'Matt Damon'  # +

In [49]:
data_high_budget = data[data['budget'] > data['budget'].mean()].copy()
data_high_budget['cast_split'] = data_high_budget['cast'].str.split('|')
data_high_budget_expl = data_high_budget.explode('cast_split')

data_high_budget_expl['cast_split'].value_counts()
#Counter(data_high_budget['cast_split']).most_common(3)
#data_high_budget.head()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
G. W. Bailey          1
Kimberly Elise        1
Harland Williams      1
Bridget Fonda         1
Leehom Wang           1
Name: cast_split, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [50]:
answers['17'] = 'Action'  # +

In [51]:
data_NC = data[data['cast'].str.contains('Nicolas Cage')].copy()
data_NC['genres_splited'] = data_NC['genres'].str.split('|')
data_NC_expl = data_NC.explode('genres_splited')
data_NC_expl['genres_splited'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres_splited, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [52]:
answers['18'] = 'K-19: The Widowmaker'  # +

In [53]:
data[data['production_companies'].str.contains('Paramount Pictures')].sort_values(by = 'profit', ascending = True)['original_title']

925                                  K-19: The Widowmaker
1123                                             Timeline
1722                                                 Next
1623                                                Alfie
1631                                              Twisted
                              ...
730                  Mission: Impossible - Ghost Protocol
1738                                         Transformers
603     Indiana Jones and the Kingdom of the Crystal S...
317                   Transformers: Revenge of the Fallen
828                        Transformers: Dark of the Moon
Name: original_title, Length: 122, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [54]:
answers['19'] = '2015'  # +

In [55]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [56]:
answers['20'] = '2014'  # +

In [57]:
data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [58]:
answers['21'] = 'September'  # +

In [59]:
from datetime import datetime
data['month'] = data['release_date'].dt.month
data.groupby('month')['original_title'].count().sort_values(ascending = False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [60]:
answers['22'] = 450  # +

In [61]:
data[(data['month'] == 6)|(data['month'] == 7)|(data['month'] == 8)]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [63]:
answers['23'] = 'Peter Jackson'  #

In [64]:
data_winter = data[(data['month'] == 12)|(data['month'] == 1)|(data['month'] == 2)].copy()
data_winter['director_split'] = data_winter['director'].str.split('|')
data_winter_expl = data_winter.explode('director_split')
data_winter_expl.head()
data_winter_expl['director_split'].value_counts()

Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Nancy Meyers             4
Adam Shankman            4
                        ..
Danny Boyle              1
Jean-FranÃ§ois Richet    1
Ronald F. Maxwell        1
Guy Ferland              1
James McTeigue           1
Name: director_split, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [65]:
answers['24'] = 'Four By Two Productions'  #

In [66]:
data['title_length'] = data['original_title'].apply(lambda x: len(x))
data['company_split'] = data['production_companies'].str.split('|')
data_prod_comp = data
data_prod_comp_expl = data_prod_comp.explode('company_split')
data_prod_comp_expl.groupby('company_split')['title_length'].mean().sort_values(ascending = False)

company_split
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [67]:
answers['25'] = 'Midnight Picture Show'  #

In [68]:
data['overview_word_count']= data['overview'].map(lambda x: len(x.split(' ')))
data['company_split'] = data['production_companies'].str.split('|')
data_prod_comp = data
data_prod_comp_expl = data_prod_comp.explode('company_split')
data_prod_comp_expl.groupby('company_split')['overview_word_count'].mean().sort_values(ascending = False)

company_split
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_word_count, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [69]:
answers['26'] = 'Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone Girl, The Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento'

In [70]:
data [data['vote_average'] > data['vote_average'].quantile(0.99)]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'  # +

In [ ]:
import itertools
list(itertools.combinations(df['cast'], 2))

ВАРИАНТ 2

In [71]:
import itertools
data_cast_list = data['cast'].apply(lambda x: sorted(x.split('|')))
#data_cast_list.head()
pair_list =[]
for i in data_cast_list:
    for each_tuple in list(itertools.combinations(i, 2)):
        pair_list.append(each_tuple)
pair_list
actors = pd.Series(pair_list)
actors.value_counts()

(Daniel Radcliffe, Emma Watson)              8
(Emma Watson, Rupert Grint)                  8
(Daniel Radcliffe, Rupert Grint)             8
(Helena Bonham Carter, Johnny Depp)          6
(Ben Stiller, Owen Wilson)                   6
                                            ..
(Jean Smart, Queen Latifah)                  1
(Melissa McCarthy, Miranda Hart)             1
(Frankie Faison, Jaime King)                 1
(Kelly Macdonald, Thomas Brodie-Sangster)    1
(David Morrissey, Priyanka Xi)               1
Length: 17943, dtype: int64

# Submission

In [72]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723    Pirates of the Caribbean: On Stranger Tides',
 '2': '1157    Gods and Generals',
 '3': '768    Winnie the Pooh',
 '4': 110.0,
 '5': 107.0,
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': 1478,
 '9': '599    The Dark Knight',
 '10': '1245    The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone Girl, The Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento'}

In [73]:
# и убедиться что ни чего не пропустил)
len(answers)

26